body {
  font-size: 16px;
  font-family: "Lato", serif;
}

.home-video {
  position: relative;
}

.video-section {
  width: 100%;
  height: 100%;
}

.hero-banner-text {
  position: absolute;
  bottom: 24vh;
  z-index: 1;
  text-shadow: 0px 12px 8px rgba(168, 162, 162, 0.251);
  color: white;
  font-weight: 700;
}

.hero-banner-text h1 {

  font-size: 3.90625vw;
  font-weight: 800;

}

.hero-banner-text h6 {
  font-size: 1.9vw;
  color: #c795fe;
}

.video-section .overlaybg {
  background-size: 100%;
  background: #000;
  opacity: 0.7;
  position: absolute;
  height: 100%;
  width: 100%;
}

.video-section video {
  width: 100%;
  height: 100%;
}

.font-20 {
  font-size: 20px
}

.font-28 {
  font-size: 28px
}


.feature {
  background: #EFE4FB;
  padding-top: 100px;
  padding-bottom: 100px;
}

h3 {
  font-size: 50px;
  font-weight: 900;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  color: #5F259E;
  margin-top: 20px
}

.feature ul {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  row-gap: 10px;
}

.feature ul li {
  padding: 0 10px 0 10px;
  display: inline;
  list-style: disc;
}

.btn-landing {
  margin-top: 30px;
  display: flex;
  column-gap: 10px
}

.btn-landing .common-btn-div {
  background: #EFE4FB;
  padding: 10px 50px;
  border-radius: 50px;
  color: #5F259E;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: solid 2px #EFE4FB;
}

.btn-landing .common-btn-div:hover {
  background: transparent;
  color: #fff;
  border: solid 2px #EFE4FB;
}

.btn-landing .common-btn-div1 {
  background: transparent;
  padding: 10px 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: solid 2px #EFE4FB;
}

.btn-landing .common-btn-div1:hover {
  color: #5F259E;
  border: solid 2px #EFE4FB;
  background: #EFE4FB;
}

.logo-landing {
  position: absolute;
  z-index: 999;
  top: 10px;
  width: 100%
}

.logo-landing .top-logo {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-landing .top-logo img {
  width: 130px
}

.red-bg-seller {
  background: linear-gradient(to left, #000000, #5F259E, #000000);
  color: #fff;
  padding: 100px 0;
}

.benifits span {


  border-radius: 100px;

  text-align: center;
  display: inline-block;
}

.benifits span i {
  font-size: 100px
}

.footer-landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  font-size: 14px
}

.footer-landing-page a {
  color: #EFE4FB;
  text-decoration: underline;
}

.footer-landing-page a:hover {
  color: #fff
}

.top-btn {
  display: flex;
  padding: 15px 0;
  column-gap: 10px;
  justify-content: flex-end;
}

.top-btn a {
  background: #5F259E;
  border: #5F259E;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 20px;
  font-weight: 600
}

.top-btn a:hover {
  background: #EFE4FB;
  border: #EFE4FB;
  color: #5F259E
}

.footer {
  background: #5F259E;
  color: #fff;
  padding: 5px 0
}

.shadow-lg {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15) !important;
}

.why-us {
  padding: 100px 0;
  text-align: center;
  background: url(landing-page-img/why.png) center top no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 0 0 0px 0px
}

.why-us h3 {
  font-size: 50px;
  font-weight: 900;
  color: #fff !important
}

.why-us h5 {
  column-gap: 10px;
  color: #fff !important
}

.why-us ul {
  padding: 0;
  margin: 0
}

.why-us ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.why-us span {
  background: transparent;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  color: #fff;
  border: solid 2px #fff;
}

.why-us span:hover {
  background: #fff;
}

.why-us span i {
  font-size: 50px;
  line-height: 150px;
  background: linear-gradient(to left, #2b95dd, #9e30ff, #9e30ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-us ul li p {
  padding-left: 25px;
}

.bg-home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../public/image/bg1.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh
}



.why-us {
  padding: 100px 0;
  text-align: center;
  background: #000 url(landing-page-img/why1.png) left top no-repeat;
  color: #fff;
}


.red-bg-seller .card:hover {
  background: #EFE4FB
}

.red-bg-seller .card:hover img {
  transition: .3s;
  padding-left: 6px;
}

.red-bg-buyer {
  padding: 100px 0;
  text-align: center;
  background: url(landing-page-img/Wave-bg.png) center bottom no-repeat;
  background-size: cover;
}

.red-bg-buyer .card {
  box-shadow: inherit !important;
  background: transparent;
}

.red-bg-buyer .card:hover {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.red-bg-buyer .card:hover img {
  transition: .3s;
  padding-left: 6px;
}

.list-icon .bi {
  font-size: 10px !important;
  color: #5F259E
}

.p-100 {
  padding: 100px 0;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .video-section video {
    height: 600px;
    object-fit: cover;
  }

  .btn-landing {
    flex-wrap: wrap;
    row-gap: 15px
  }

  .logo-landing .top-logo img {
    width: 60px
  }

  .hero-banner-text {
    position: absolute;
    bottom: 15vh;
  }

  .hero-banner-text h1 {
    font-size: 30px;
    line-height: normal;
  }

  .hero-banner-text h6 {
    font-size: 20px;
  }

  .footer-landing-page {
    flex-wrap: wrap;
  }

  .why-us h33 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  .font-28 {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* STYLES HERE */

}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  border-radius: 25px;
  border: inherit;
  padding: 30px;
}

.btn-menu {
  color: #fff !important
}

.navigation-menu {
  list-style: none;
  padding: 0px;
  margin: 0;
  text-align: left;
}

.navigation-menu li {
  padding: 30px;
}

.navigation-menu a {
  list-style: none;
  padding: 0px;
  margin: 0;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  font-weight: 600
}

.navigation-menu a:hover {
  opacity: .7
}

.menu-link {
  width: 60px !important
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .logo-landing-header .menu-link {
    width: 40px !important
  }

  .logo-landing-header .top-logo img {
    width: 60px !important;
  }

  .logo-landing-header .top-logo {
    padding: 0 !important
  }

  .menu-link {
    width: 40px !important
  }
}