@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* .page-header {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/carousel-1.jpg) center top no-repeat;
  background-size: cover;
  padding-top: 3rem !important;
  color: #fff;
} */

body {
  background: #fcfcfc;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  overflow-y: inherit !important;
  padding: 0 !important;
  margin: 0 !important;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
/* h2, */
/* .h2, */
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;

  font-weight: 600;
  line-height: 1.2;
}

.page-header h1 {
  font-size: 60px;
  font-weight: 600;
}

.navbg {
  background: #244189 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: #fff !important;
}

.footer-copyright {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer a {
  color: #581c87 !important;
  text-decoration: none;
}

.footer a:hover {
  color: #000 !important;
  text-decoration: none;
}

.btn-link {
  color: #fff !important;
  text-decoration: none;
}

.sidebar a {
  color: #000;
  border-bottom: solid 1px #ddd;
  font-size: 18px;
}

.sidebar a:hover {
  color: #244189 !important;
}

.logo {
  text-align: center;
}

.my-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.my-menu .my-menu-toggle {
  display: none;
}

.stat {
  background: #e0eafc;
  border-radius: 50%;
  padding: 0.75rem;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
}

.green {
  color: green !important;
}

.red {
  color: red !important;
}

.total {
  font-size: 16px;
  font-weight: 600;
  color: #777;
}

.topbox {
}

.topbox .col-xxl-3 {
  width: 20%;
}

.d-none-mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .d-none-mobile {
    display: block;
  }
}

.main-content-space {
  margin-top: -177px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .main-content-space {
    margin-top: -0px;
  }

  .topbox .col-xxl-3 {
    width: 100%;
  }

  .my-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .my-menu .my-menu-toggle {
    display: block;
  }

  .filter-div {
    display: block !important;
  }

  .logo img {
    width: 100px;
  }
}

/* 
.page-header {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/carousel-1.jpg) center top;
  no-repeat;
  background-size: cover;
  padding-top: 3rem !important;
  color: #fff;
} */

/* page-header {
  height: 300px; overflow: hidden;

}
.page-header img{ width:100%; min-height:300px; overflow:hidden;  } */
body {
  background: #ececec;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
/* h2, */
/* .h2, */
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.footer-copyright {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer a {
  color: #ddd;
  text-decoration: none;
}

.bluebg {
  color: #000;
  background: #e0eafc;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px 0 0 5px;
}

.form-pg .form-group {
  margin-bottom: 15px;
}

.form-pg .form-group label {
  margin-bottom: 10px;
  font-weight: bold;
}

.btn-yellow {
  background: #ffd503 !important;
  color: #fff !important;
  border-color: #ffd503 !important;
  font-weight: 600;
  border-radius: 25px;
}

.form-pg a {
  text-decoration: none;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.bluetxt {
  color: #244189;
}

.tabslist {
  background: #fff;
  padding: 10px 10px 0 10px;
}

.tabslist a {
  color: #000;
  font-weight: 600;
}

.tabslist .active {
  border-color: #fff !important;
  background-color: #fff !important;
  color: #000 !important;
  border-bottom: solid 4px #ffd503 !important;
}

.w-70 {
  width: 150px;
}

.filter-text {
  display: flex;
  column-gap: 10px;
  font-size: 20px;
  align-items: center;
}

.top-pager {
  justify-content: end;
}

.search-sidebar label {
  margin-bottom: 10px;
  font-weight: 600;
}

.search-title {
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
}

.active > .page-link,
.page-link.active {
  border-color: #581c87 !important;
  background-color: #581c87 !important;
}

.filterbtn {
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 9;
}

.filter-div {
  display: none;
}

.address {
  padding: 0;
  list-style: none;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  font-weight: 500;
  margin-top: 50px;
}

.address li {
  display: flex;
  column-gap: 5px;
}

.update-profile-form {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.update-profile-form h1 {
  font-size: 20px;
  background: linear-gradient(to left, #cd0030, #7e0080, #2f00d0);
  color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.update-profile-form li {
  margin-bottom: 15px;
}

.span-link {
  padding: 5px;
  cursor: pointer;
}

.discrription {
  margin-top: -5px;
}

.discrription .card-body {
  border-radius: 0 0 5px 5px !important;
}

.star {
  position: absolute;
  z-index: 999;
  right: 15px;
  width: auto;
  top: 15px;
}

.title-heading {
  font-size: 20px !important;
}

.table-list-view th {
  width: 40% !important;
}

.icon-link {
  text-decoration: none !important;
}

.make-above-link {
  position: relative;
  z-index: 9999999999;
}

.table-heading th {
  background-color: #24418a;
  color: #fff;
  padding: 10px;
}

.list-user {
  padding: 0;
  margin: 0;
}

.list-user li {
  list-style: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

.bold-500 {
  font-weight: 500;
}

.header-title-bg {
  background-color: #343896 !important;
  color: #fff;
}

.header-title-bg h6 {
  margin: 0;
}

.buyer-heading {
  padding: 6px 15px;
  color: #fff;
}

.w-auto {
  width: auto !important;
  max-width: fit-content;
}

.btn-link-card {
  display: flex;
  column-gap: 10px;
  margin-top: 15px;
  height: 100%;
  align-items: flex-end;
}

/* .btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  position: absolute;
  right: 15px;
} */

.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}

.sidebar-navigation i {
  margin-right: 5px;
  font-size: 16px;
}

.sidebar-navigation .btn-toggle {
  width: 100% !important;
}

.sidebar-navigation {
  padding: 15px !important;
  font-size: 16px;
  position: relative;
}

.sidebar-navigation .btn {
  padding: 5px 10px;
}

.sidebar-navigation a:hover {
  background: #244189 !important;
  color: #fff !important;
}

.sidebar-navigation li {
  padding: 4px 0px 4px 0 !important;
  border-bottom: solid 1px #ddd;
}

.sidebar-navigation .btn-toggle-nav {
  background: #fff;
  border-radius: 10px !important;
  margin: 5px 0;
}

.sidebar-navigation .btn-toggle-nav li:last-child {
  border-bottom: none !important;
}

/* Default Search Button Style */
.accordion-button {
  background-color: #007bff;
  /* Blue */
  color: white;
  border: none;
}

/* On Focus or Hover */
.accordion-button:focus,
.accordion-button:hover {
  background-color: #0056b3;
  /* Darker Blue */
  color: white;
  outline: none;
  box-shadow: none;
}

/* When Expanded */
.accordion-button:not(.collapsed) {
  background-color: #0056b3;
  /* Darker Blue */
  color: white;
}

/* Change the background of the accordion body when expanded */
.accordion-collapse.show {
  background-color: #e7f3ff;
  /* Light Blue */
}

.pagetitle-name {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
}

.pagetitle-name h1 {
  font-size: 18px;
  margin: 0;
}

.sidebar-navigation .active {
  background: #244189 !important;
  color: #fff !important;
}

.dashboard-profile ul li {
  list-style: none;
  padding: 2px 5px;
  display: flex;
}

/* .user-img{  width: 70px; height: 70px; border-radius: 100%; margin:15px}  */
.user-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 15px 0px 15px 15px;
}

.dashboard-profile {
  font-size: 14px;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.chat li.left .chat-body {
  margin-left: 20px;
}

.chat li.right .chat-body {
  margin-right: 20px;
}

.chat li .chat-body p {
  margin: 5px 0;
  color: #777777;
}

.chat .right {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.body-panel {
  overflow-y: scroll;
  height: 450px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

li.right.clearfix {
  text-align: right;
}

.chat-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 15px;
}

.btn-info {
  color: #fff !important;
}

.dashboard-profile i {
  margin-right: 10px;
}

.btn-link-card-buyer ul {
  display: flex;
  padding-left: 0;
  margin-top: 15px;
}

.tab-content-data {
  background-color: #fff;
}

/* Chat Css */
/* .chat {
  padding: 30px;
  background: url(../img/bodybg.png) left top repeat-x;
  height: 100% !important;
} */

.chat .left {
  display: flex;
}

.chat .right p {
  background-color: #c7e1c7;
  padding: 5px 10px;
  border-radius: 15px 0px 15px 15px;
  width: auto;
  display: inline-flex;
  margin: 5px 0;
  color: #000 !important;
}

.chat .left p {
  background-color: #bec1c4;
  padding: 5px 10px;
  border-radius: 0px 15px 15px 15px;
  width: auto;
  display: inline-flex;
  margin: 5px 0;
  color: #000 !important;
}

.chat-send {
  border: none;
  background-color: #581c87 !important;
  font-size: 20px;
  color: #fff;
}

.notification {
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification-message ul {
  padding: 0;
  margin: 0;
  list-style: none;
  /* display: flex; */
  column-gap: 15px;
  justify-content: flex-end;
  position: relative;
  display: block !important;
}

.notification-social-icon .chat-notification {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex !important;
  margin-top: 15px;
  column-gap: 15px;
  justify-content: flex-end;
  position: relative;
}

.notification-social-icon .chat-notification sup {
  background-color: red;
  color: #fff;
  font-size: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-top: -4px;
  margin-left: -4px;
  position: absolute;
}

.notification ul li {
  list-style: none;
  font-size: 16px;
}

.notification ul li sup {
  background-color: red;
  color: #fff;
  font-size: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-top: -3px;
  margin-left: -4px;
  position: absolute;
}

.notification-list {
  padding: 0;
  margin: 0;
}

.notification ul li a {
  color: #000;
}

.notification-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.notification-list ul li {
  list-style: none;
  display: flex;
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
  padding: 10px 0;
}

.user-img-notification {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.notification-list ul li:last-child {
  border-bottom: none;
}

.text-notification {
  padding-left: 15px;
}

.text-notification p {
  padding-bottom: 5px !important;
  margin: 0;
}

.text-notification .date {
  font-size: 13px;
  color: #555;
}

.last-chat-list li {
  display: block;
  width: 100%;
}

.last-chat-list div {
  display: inline-block;
}

.imagechat {
  float: inline-start;
}

/* New Design CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

body {
  background: #f8f9fa;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.top-logo img {
  width: 80px;
}

.top-logo {
  padding: 10px 0 0 0;
}

.top-logo ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  column-gap: 10px;
}

.top-logo ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo-left {
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
}

.right-logo {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.message {
  background: #ecebeb;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}

.notification {
  background: #ecebeb;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}

.notification sup {
  background: red;
  color: #fff;
  position: absolute;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  line-height: 20px;
  text-align: center;
}

.welcome-title h1 {
  font-size: 80px;
  font-weight: 700;
}

.welcome-title p {
  font-size: 20px;
  color: #616161;
}

.notification a {
  color: #000;
}

/* .welcome-btn-bg {
  padding: 50px;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/images/welcome-bg.jpg) center center no-repeat;
  background-size: cover;
} */

.yellow-text {
  color: #ffd503;
}

.btn-border {
  border-radius: 50px;
  border: solid 1px #fff;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  padding: 8px 80px;
  line-height: normal;
}

.btn-border:hover {
  border: solid 1px #fff;
  color: #000;
  background: #fff;
}

.click-to-login {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.footer {
  border-top: solid 1px #ecebeb;
  padding: 20px 0;
}

.footer p {
  font-size: 14px;
  color: #333333;
  position: 0;
  margin: 0;
}

.light-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.form-div {
  position: relative;
  z-index: 9;
  background: #fff;
}

/* .blue-bg {
  color: #fff;
  text-align: center;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/images/login-bg.jpg) center center no-repeat;
  background-size: cover;
} */

.text-white {
  color: #fff;
}

.form-div h3 {
  font-size: 28px;
  font-weight: bolder;
}

.form-div h4 {
  font-size: 24px;
  font-weight: bolder;
}

.form-div label {
  font-weight: 500;
  margin-bottom: 5px;
}

.border-radius {
  border-radius: 50px;
  padding: 6px 25px;
}

.account-link {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.account-link a {
  text-decoration: none;
  color: #581c87;
}

.account-link a:hover {
  color: #000;
}

.white-bg {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
}

.round-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: solid 4px #fff;
}

.border-green {
  border: solid 3px #e2b0e2;
  border-radius: 100%;
  display: inline-block;
}

.name {
  font-weight: 600;
  margin: 0;
}

.font-grey {
  margin: 0;
  color: #333333;
  font-size: 13px;
}

.notification-list {
  padding: 0;
  margin: 0;
}

.notification-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.notification-list ul li {
  list-style: none;
  display: flex;
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
  padding: 10px 0;
  position: relative;
}

.user-img-notification {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
}

.notification-list ul li:last-child {
  border-bottom: none;
}

.text-notification {
  padding-left: 15px;
}

.text-notification p {
  padding-bottom: 5px !important;
  margin: 0;
}

.text-notification .date {
  font-size: 13px;
  color: #555;
}

/* .btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  position: absolute;
  right: 15px;
} */

.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}

.sidebar-navigation i {
  margin-right: 5px;
  font-size: 16px;
}

.sidebar-navigation .btn-toggle {
  width: 100% !important;
}

.sidebar-navigation {
  padding: 15px !important;
  font-size: 16px;
  position: relative;
}

.sidebar-navigation .btn {
  padding: 5px 10px;
}

.sidebar-navigation a {
  text-decoration: none !important;
  font-size: 14px;
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 25px;
  color: #000;
}

.sidebar-navigation a:hover {
  background: #f7f7f9 !important;
  color: #000 !important;
  border-radius: 25px !important;
}

.sidebar-navigation .active {
  background: #f7f7f9 !important;
  color: #000 !important;
  border-radius: 25px !important;
}

.sidebar-navigation li {
  padding: 4px 0px 4px 0 !important;
}

.sidebar-navigation .btn-toggle-nav {
  background: #fff;
  border-radius: 10px !important;
  margin: 5px 0;
}

.sidebar-navigation .btn-toggle-nav li:last-child {
  border-bottom: none !important;
}

.user-list {
  padding: 10px;
  margin: 0;
}

.user-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.user-list ul li {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
}

.user-list ul li:last-child {
  border-bottom: none;
}

.user-list img {
  width: 50px !important;
  height: 50px !important;
}

.user-list h4 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}

.discription-data {
  padding: 0;
  margin: 0;
}

.discription-data li {
  border-right: solid 1px #333333;
  column-gap: 5px;
  color: #333333;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: normal;
  margin-right: 5px;
}

.discription-data li:last-child {
  border-right: none;
  padding-left: 0;
}

.link-details {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  font-size: 15px;
  column-gap: 10px;
}

.link-details a {
  color: #581c87 !important;
  text-decoration: none;
}

.link-details .pending {
  background: #fff2ae;
  padding: 2px 12px !important;
  font-size: 14px;
}

.pending {
  background: #fff2ae;
  padding: 2px 12px !important;
  font-size: 14px;
}

.link-details .show-interest {
  background: #e2b0e2;
  padding: 2px 12px !important;
  font-size: 14px;
}

.show-interest {
  background: #e2b0e2;
  padding: 2px 12px !important;
  font-size: 14px;
}

/* .filter {
  background: url(../img/images/blue-bg-img.jpg) center center no-repeat;
  padding: 25px 30px;
  border-radius: 20px;
  background-size: cover;
  color: #fff
} */

.filter-type {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.filter-type ul {
  padding: 0;
  margin: 0;
}

.filter-type ul li {
  display: inline;
  list-style: none;
  padding-left: 6px;
  margin-right: 3px;
  border-left: solid 1px #fff;
  line-height: normal;
}

.filter-type ul li:first-child {
  border-left: none;
  padding-left: 0px;
}

.yellow-btn {
  background: #ffd503 !important;
  color: #000 !important;
  border: solid 1px #ffd503 !important;
}

.yellow-btn:hover {
  opacity: 0.9 !important;
}

.filter-type h2 {
  font-size: 35px;
  font-weight: 700;
}

.user-details {
  display: flex;
  column-gap: 15px;
}

.user-details .user-infomation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-details .user-infomation li {
  list-style: none;
}

.user-details .user-infomation .border-left {
  border-left: solid 1px #fff;
  padding-left: 20px;
}

.information-get h4 {
  font-size: 16px;
  font-weight: 700;
}

.information-get {
  font-size: 16px;
  padding: 10px;
}

.information-get p {
  margin: 0px;
  padding: 0 !important;
  color: #333333;
  margin-bottom: 5px;
  font-size: 15px;
}

.information-get strong {
  color: #581c87;
}

.form-label {
  font-weight: 600;
}

.offcanvas-title {
  font-weight: 700;
}

.form-control {
  font-size: 14px !important;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .border-left {
    border-left: none !important;
    padding-left: 0 !important;
  }
}

.page-title {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}

.page-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

/*New css for waves */

.btn-primary {
  background-color: #581c87 !important;
  border-color: #581c87 !important;
}

.btn-primary:hover {
  background-color: #410d6a !important;
  border-color: #410d6a !important;
}

/* .blue-bg {
  color: #fff;
  text-align: center;
  position: relative;
  background: linear-gradient(to left, #cd0030, #7e0080, #2f00d0), url(../img/login-bg.png) center center no-repeat;
  background-size: cover;
  opacity: .9;
} */

.yellow-btn {
  background: #fff !important;
  color: #000 !important;
  border: solid 1px #fff !important;
}

.yellow-btn:hover {
  opacity: 0.9 !important;
  background: #fff !important;
}

/* .filter {
  color: #fff;
  position: relative;
  background: linear-gradient(to left, #cd0030, #7e0080, #2f00d0), url(../img/login-bg.png) center center no-repeat;
  background-size: cover;
  opacity: .9;
} */

.notification i {
  color: #000;
}

.list-group-item.active {
  background: linear-gradient(to left, #cd0030, #7e0080, #2f00d0);
}

.view-heading {
  background: linear-gradient(to left, #cd0030, #7e0080, #2f00d0);
  padding: 5px 10px;

  /* border-radius: 5px; */
  & h6 {
    color: white;
    margin: 0;
  }
}

.font-18 {
  font-size: 18px;
}

.apporved {
  background: #badfba;
  padding: 2px 12px !important;
  font-size: 14px;
  color: #000 !important;
}

.details {
  background: #b6efeb;
  padding: 2px 12px !important;
  font-size: 14px;
  color: #000 !important;
}

.decline {
  background: #e9b1b1;
  padding: 2px 12px !important;
  font-size: 14px;
  color: #000 !important;
}

.btn.border-radius:hover {
  background: black;
  color: white !important;
}

.startchat {
  background: antiquewhite;
  padding: 2px 12px !important;
  font-size: 14px;
  color: #000 !important;
}

.pagination .active {
  background-color: #581c87 !important;
}

.filter .btn:hover {
  color: #581c87 !important;
}

.pagination .active {
  background: black;
}

.project-img {
  width: 120px !important;
  border-radius: 10px;
  height: 120px !important;
}

.project-img-upload {
  display: inline-block;
}

.MuiFormControl-root label {
  background-color: #fff !important;
}

.user-list .project-img {
  width: 100px !important;
  border-radius: 10px;
  height: 100px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Hides spinner in Firefox */
}

ul.pagination {
  overflow: auto !important;
}

.footer-landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  flex-direction: column;
}

.MuiFormControl-root {
  background-color: #fff;
  text-align: left;
}

.showblur {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  /* Adjust height as needed */
  background: linear-gradient(45deg, #e0e0e0, #bdbdbd);
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  filter: blur(20px);
  border-radius: 15px;
  /* Optional for rounded corners */
  position: relative;
}

.showblurbox {
  position: relative;
}

.showblurtext {
  position: absolute;
  top: 45%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
}

.MuiFormControl-root {
  background-color: #fff;
  text-align: left;
}

.sidebar-signout a {
  background: linear-gradient(to left, #cd0030, #7e0080, #2f00d0);
  margin-top: 30px;
}

li.sidebar-signout a {
  color: white !important;
  font-weight: 600;
  font-size: 16px;
}

.pagination {
  justify-content: center;
}

.progressbar-outer {
  width: 100%;
  background-color: rgb(238, 233, 233);

  display: inline-block !important;
  text-align: left;
  margin: 0px !important;
  padding: 0px !important;
  height: 22px;
  border-radius: 10px;
}

.progressbar {
  width: 10%;
  background: linear-gradient(to left, #cd0030, #7e0080, #2f00d0);
  display: inline-block !important;
  color: #fff;
  text-align: right;
  border-radius: 10px;
}

.progressbar span {
  color: #fff;
  font-weight: 600;
  padding-right: 10px;
}

.list-name {
  justify-content: center !important;
  text-transform: uppercase;
  padding: 0 0 30px 0;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent black */
  color: white;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
}

.image-container:hover .hover-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.image-container img {
  width: 100% !important;
  min-height: 300px !important;
  max-height: 300px !important;
}

.ProjectType-list {
  padding: 0;
  margin: 5px 0;
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.ProjectType-list li {
  list-style: none;
  border-left: solid 1px #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.ProjectType-list li:first-child {
  border: none !important;
  padding-left: 0;
}

.project-title-name {
  position: absolute;
  width: 100%;
  background-color: #19083582;
  color: #fff;
  bottom: 0;
  padding: 20px;
  font-size: 600;
  border-radius: 0 0 10px 10px;
}

.top-menu-custom {
  /* background: linear-gradient(to left, #cd0030, #7e0080, #2f00d0); */
  /* background: #000; */

  padding-bottom: 10px;
  padding-top: 10px;
}

.logo-landing-header {
}

.logo-landing-header .top-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-landing-header .top-logo img {
  width: 130px;
}

.sidemenu {
  background: #5f259e !important;
}

.btn-menu {
  color: #fff !important;
}

.navigation-menu {
  list-style: none;
  padding: 0px;
  margin: 0;
  text-align: left;
  flex-wrap: wrap;
}

.navigation-menu li {
  padding: 30px;
}

.navigation-menu a {
  list-style: none;
  padding: 0px;
  margin: 0;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.navigation-menu a:hover {
  opacity: 0.7;
}

.logo-landing-header .menu-link {
  width: 60px !important;
}

.defualtImage {
  width: 306px !important;
  max-height: 350px !important;
}

.defaultimagecontainer {
  background-color: #c5c5c5;
}

/* body {
  background: url('/public/img/background-header.jpg') left top repeat-x;
} */
.top-menu-custom {
  background: url("/public/img/background-header.jpg") left top repeat-x;
  min-height: 151px;
}

.terms-codition h6 {
  background-color: #f5f5f5;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 5px 15px;
}

.terms-codition ul {
  margin-bottom: 10px;
}

.terms-codition ul li {
  margin-bottom: 8px;
}

.static-footer {
  background: #5f259e;
  color: #fff;
  padding: 5px 0;
  margin-top: 20px;
}

.footer-landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  flex-direction: row;
}

.footer-landing-page a {
  color: #fff !important;
}

.footer-landing-page a:hover {
  color: #ddd;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .logo-landing-header .top-logo img {
    width: 60px !important;
  }

  .logo-landing-header .menu-link {
    width: 40px !important;
  }

  .logo-landing-header .top-logo .menu-link {
    width: 40px !important;
  }

  .logo-landing-header .top-logo {
    padding: 0 !important;
  }

  .menu-link {
    width: 40px !important;
  }

  .footer-landing-page {
    flex-direction: column;
  }
}

/* Landing CSS */

.home-video {
  position: relative;
}

.video-section {
  width: 100%;
  height: 100%;
}

.hero-banner-text {
  position: absolute;
  bottom: 24vh;
  z-index: 1;
  text-shadow: 0px 12px 8px rgba(168, 162, 162, 0.251);
  color: white;
  font-weight: 700;
}

.hero-banner-text h1 {
  font-size: 3.90625vw;
  font-weight: 800;
}

.hero-banner-text h6 {
  font-size: 1.9vw;
  color: #c795fe;
}

.video-section .overlaybg {
  background-size: 100%;
  background: #000;
  opacity: 0.7;
  position: absolute;
  height: 100%;
  width: 100%;
}

.video-section video {
  width: 100%;
  height: 100%;
}

.font-20 {
  font-size: 20px;
}

.font-28 {
  font-size: 28px;
}

.feature {
  background: #efe4fb;
  padding-top: 100px;
  padding-bottom: 100px;
}

h3 {
  font-size: 50px;
  font-weight: 900;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  color: #5f259e;
  margin-top: 20px;
}

.feature ul {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  row-gap: 10px;
}

.feature ul li {
  padding: 0 10px 0 10px;
  display: inline;
  list-style: disc;
}

.btn-landing {
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
}

.btn-landing .common-btn-div {
  background: #efe4fb;
  padding: 10px 50px;
  border-radius: 50px;
  color: #5f259e;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: solid 2px #efe4fb;
}

.btn-landing .common-btn-div:hover {
  background: transparent;
  color: #fff;
  border: solid 2px #efe4fb;
}

.btn-landing .common-btn-div1 {
  background: transparent;
  padding: 10px 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: solid 2px #efe4fb;
}

.btn-landing .common-btn-div1:hover {
  color: #5f259e;
  border: solid 2px #efe4fb;
  background: #efe4fb;
}

.logo-landing {
  position: absolute;
  z-index: 999;
  top: 10px;
  width: 100%;
}

.logo-landing .top-logo {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-landing .top-logo img {
  width: 130px;
}

.red-bg-seller {
  background: linear-gradient(to left, #000000, #5f259e, #000000);
  color: #fff;
  padding: 100px 0;
}

.benifits span {
  border-radius: 100px;

  text-align: center;
  display: inline-block;
}

.benifits span i {
  font-size: 100px;
}

.footer-landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
}

.footer-landing-page a {
  color: #efe4fb;
  text-decoration: underline;
}

.footer-landing-page a:hover {
  color: #fff;
}

.MuiDialog-container .top-btn {
  display: flex;
  padding: 5px 0;
  column-gap: 5px;
  justify-content: center;
}

.MuiDialog-container .top-btn a {
  background: #5f259e;
  border: #5f259e;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 20px;
  font-weight: 600;
}

.MuiDialog-container .top-btn a:hover {
  background: #efe4fb;
  border: #efe4fb;
  color: #5f259e;
}

.footer {
  background: #5f259e;
  color: #fff;
  padding: 5px 0;
}

.shadow-lg {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15) !important;
}

.why-us {
  padding: 100px 0;
  text-align: center;
  background: url(/public/image/why.png) center top no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 0 0 0px 0px;
}

.why-us h3 {
  font-size: 50px;
  font-weight: 900;
  color: #fff !important;
}

.why-us h5 {
  column-gap: 10px;
  color: #fff !important;
}

.why-us ul {
  padding: 0;
  margin: 0;
}

.why-us ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.why-us span {
  background: transparent;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  color: #fff;
  border: solid 2px #fff;
}

.why-us span:hover {
  background: #fff;
}

.why-us span i {
  font-size: 50px;
  line-height: 150px;
  background: linear-gradient(to left, #2b95dd, #9e30ff, #9e30ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-us ul li p {
  padding-left: 25px;
}

.bg-home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../public/image/bg1.jpg) center center no-repeat;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../public/img/wavesbgcopy1.jpg) center center no-repeat; */
  background-size: cover;
  height: 100vh;
}

.why-us {
  padding: 100px 0;
  text-align: center;
  background: #000 url(/public/image/why1.png) left top no-repeat;
  color: #fff;
}

.red-bg-seller .card:hover {
  background: #efe4fb;
}

.red-bg-seller .card:hover img {
  transition: 0.3s;
  padding-left: 6px;
}

.red-bg-buyer {
  padding: 100px 0;
  text-align: center;
  background: url(/public/image/Wave-bg.png) center bottom no-repeat;
  background-size: cover;
}

.red-bg-buyer .card {
  box-shadow: inherit !important;
  background: transparent;
}

.red-bg-buyer .card:hover {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.red-bg-buyer .card:hover img {
  transition: 0.3s;
  padding-left: 6px;
}

.list-icon .bi {
  font-size: 10px !important;
  color: #5f259e;
}

.p-100 {
  padding: 100px 0;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .video-section video {
    height: 600px;
    object-fit: cover;
  }

  .btn-landing {
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .logo-landing .top-logo img {
    width: 60px;
  }

  .hero-banner-text {
    position: absolute;
    bottom: 15vh;
  }

  .hero-banner-text h1 {
    font-size: 30px;
    line-height: normal;
  }

  .hero-banner-text h6 {
    font-size: 20px;
  }

  .footer-landing-page {
    flex-wrap: wrap;
  }

  .why-us h3 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  .font-28 {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* STYLES HERE */
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  border-radius: 25px;
  border: inherit;
  padding: 30px;
}

.btn-menu {
  color: #fff !important;
}

#offcanvasExample {
  background-color: #5f259e !important;
}

#offcanvasExample .navigation-menu {
  list-style: none;
  padding: 0px;
  margin: 0;
  text-align: left;
  display: block;
}

#offcanvasExample .navigation-menu li {
  padding: 15px 30px;
}

#offcanvasExample .navigation-menu a {
  list-style: none;
  padding: 0px;
  margin: 0;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#offcanvasExample .navigation-menu a:hover {
  opacity: 0.7;
}

.menu-link {
  width: 60px !important;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .logo-landing-header .menu-link {
    width: 40px !important;
  }

  .logo-landing-header .top-logo img {
    width: 60px !important;
  }

  .logo-landing-header .top-logo {
    padding: 0 !important;
  }

  .menu-link {
    width: 40px !important;
  }
}

.exploreall {
  background: transparent;
  padding: 10px 50px;
  border-radius: 50px;
  color: #5f259e;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: solid 2px #5f259e;
}

.exploreall:hover {
  background: #5f259e;
  color: #fff;
  border: solid 2px #5f259e;
}

.why-us span {
  line-height: 140px;
}

.why-us span img {
  width: 67px;
  height: 67px;
}

.accordion-button {
  background-color: #f5f5f5 !important;
  color: #000 !important;
}

.accordion-button:not(.collapsed) {
  background-color: #f5f5f5 !important;
  color: #000 !important;
}

.accordion-collapse.show {
  background-color: #fff !important;
}

.red-bg-buyer {
  padding-bottom: 23px;
}

.customTabs .nav-link {
  color: #000;
}

.customTabs .active {
  color: #fff !important;
  background: #5f259e !important;
}

/* owl-carousel css */

/* .item .img-logo {
  display: block;
  width: 100%;
} */

/* .img-logo {
  width: 130.75px;
  margin-right: 10px;
  object-fit: cover;
} */

/* .owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .img-logo {
  max-width: 100%;
  height: auto;
} */

/* Style for the Owl Carousel container */
.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  /* Ensures the items are centered in the carousel */
  align-items: center;
  /* Vertically centers the items */
}

/* Custom class for each item */
.custom-item {
  position: relative;
  width: 100%;
  /* Ensures the item takes full width of the carousel */
  height: 250px;
  /* Set a fixed height to ensure equal height for all items */
  border-radius: 15px;
  /* Optional: Adds rounded corners to each item */
  overflow: hidden;
  /* Ensures any overflowing content (like images) doesn't spill outside the box */
  background-color: #f0f0f0;
  /* Optional: Set a background color for the items */
  display: flex;
  justify-content: center;
  /* Centers the content horizontally */
  align-items: center;
  /* Centers the content vertically */
}

/* Style for images to fit within the container */
.custom-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

.custom-item:hover img {
  transform: scale(1.05);
}

.custom-item {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.custom-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.custom-item img {
  padding: 5px;
}

.card {
  box-shadow: #959da533 0 8px 24px !important;
  border-radius: 25px;
  border: inherit;
  padding: 30px;
}

.owl-carousel .owl-item .img-logo {
  display: block;
  width: 100%;
}

.video-sectionDiv {
  padding: 100px 0;
  text-align: center;
  background: #000 url(/public/image/video_11.jpg) left top no-repeat;
  color: #fff;
}

.button-video {
  min-width: 60px;
  height: 60px;

  display: inline-flex;

  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button-video::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(100px + 12px);
  min-height: calc(100px + 12px);
  border: 6px solid #fff;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button-video:hover::before,
.button-video:focus::before {
  opacity: 1;
}

.button-video::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  border: 10px solid #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite !important;
}

@keyframes ring {
  0% {
    width: 60px;
    height: 60px;
    opacity: 1;
  }

  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.btn-pre {
  /* background: linear-gradient(45deg, #ffcc00, #ff8800); Gold gradient */
  /* color: #fff !important; */
  color: black !important;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 29%) !important;
}

.btn-pre:hover {
  /* background: linear-gradient(45deg, #ff8800, #ff6600); */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.catelog {
  margin-top: 25px;
}

.btn-landing1 {
  display: flex;
}

.btn-landing-catelog {
  background: transparent;
  padding: 10px 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: solid 2px #efe4fb;
}

.btn-landing-catelog:hover {
  color: #5f259e;
  border: solid 2px #efe4fb;
  background: #efe4fb;
}

.mainlogo {
  position: absolute;
  top: 116px;
  /* left: 67px; */
  right: 0;
  /* bottom: 20px; */
  z-index: 1111111111111111111111;
}
.waves-purpel-logo {
  position: absolute;
  right: 5%;
  top: 25%;
  max-width: 180px;
  /* border: 2px solid green !important; */
  & img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .waves-purpel-logo {
    right: 0;
    max-width: 180px;
    & img {
      width: 80%;
    }
  }
}
